<ion-view view-title="Denuncia">
    <ion-content>
        <!--        <ion-list>
                    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                        <img ng-src="{{chat.face}}">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.lastText}}</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
        
                        <ion-option-button class="button-assertive" ng-click="remove(chat)">
                            Delete
                        </ion-option-button>
                    </ion-item>
                </ion-list>-->
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                   Tipo
                </div>
                <select>
                    <option>Violacion</option>
                    <option selected>Asalto</option>
                    <option>Violencia Domestica</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea  cols="5" placeholder="Comments"></textarea>
            </label>
        </div>  
    </ion-content>
</ion-view>
