<ion-view view-title="Chats">
  <ion-content style="background-color:#555;">
    <div class="row">
      <div class="col">
        <div class="list card">
            <div class="item item-image padding">
              <img src="img/crimecons/pistol.png">
            </div>
            <a class="item item-icon-left assertive" href="#">
              Asalto
            </a>
          </div>
      </div>
      <div class="col">
        <div class="list card">
            <div class="item item-image padding">
              <img src="img/crimecons/pistol.png">
            </div>
            <a class="item item-icon-left assertive" href="#">
              Asalto
            </a>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
